<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/Proyecto/ProyectoInformatorio/static/estilo.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="cabecera">
        <div>
            <a href="#">Menu Fijo</a>
            <a href="#">Login</a>
        </div>
    </section>

    <section class="cuerpo">
        <div class="blogs">
            <h3>blogs recientes</h3>
        </div>
    </section>

    <section>

        <div>
            <p>imagen</p>
        </div>

        <div class="articulo2">
            <p>articulo2</p>
        </div>

        <div>
            <p>articulo3</p>
        </div>
        
    </section>
        <div>

        </div>
    <section>
        <div>

        </div>
    </section>
    <h2> Este esta es mi primera pagina </h2>
</body>

<footer>

</footer>
</html>